h3 {
    color:#696969;
    font-family:Arial;
    font-size:14px;
    margin-left:10px;
}
footer{
    color:#696969;
    font-family:Arial;
    font-size:11px;
    text-align:center;
}
ul{
    color:#808080;
    font-weight:bold;
    font-family:Arial;
    font-size:12px;
}
li{
    color:#808080;
    font-size:11px;
    font-family:Arial;
    list-style-type:disc;
    margin-left:60px;
}

.informatique{
    color:#808080;
    font-size:11px;
    font-family:Arial;
    list-style-type:disc;
    margin-left:60px;
}

.langue{
    color:#808080;
    font-size:11px;
    font-family:Arial;
    list-style-type:disc;
    margin-left:60px;
}

.interet{
    color:#808080;
    font-size:11px;
    font-family:Arial;
    list-style-type:disc;
    margin-left:60px;
}

p{
    color:#808080;
    font-size:11px;
    font-family:Arial;
    list-style-type:disc;
    margin-left:60px;
}
main{
    background-image: url("greyzz.png");
}
footer{
    background-image: url("concreteseamless.png");
}
header{
    background-image: url("brushed.png");
}
footer div a{
    margin-left:30px;
}

div iframe{
    width:50%;
}

.conteneur{
    width:100%;
    max-width:960px;
    margin:15px;
    padding:10px;
}

header div p{
    color:#696969;
    font-family:Verdana;
    font-size:25px;
    text-align:center;
    width:50%;
}
#colonne1 {
    float:left;
    padding: 10px;
    background: lightblue;
    font-size:11px;
 
}
#colonne3 {
    padding: 10px;
    background: burlywood;
    text-align:center;
    font-size:11px;
    float:none;
}
#colonne2 {
    float:right;
    padding: 10px;
    background: khaki;
    font-size:11px;
}